/*Css file for hw-06*/
body{
	font-family: Arial;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

/* make columns */
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.middle {
	display: flex;
	flex-direction: column;
	width: 33%;
}


.right{
	display: flex;
	flex-direction: column;
	width: 40%;
}

.selected{
	opacity: 100% !important;
  stroke: orange;
  stroke-width: 3px;
}


.setosa{
	fill:#440154ff;
	opacity:50%;
}
.versicolor{
	fill: #21908dff;
	opacity:50%;
}
.virginica{
	fill:#fde725ff;
	opacity:50%;
}